/*CSS for index.html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: serif;
}
.text-center{
    text-align: center;
}
.light-bg{
    background: #FFF;
    color: #333;
}
.p-1{
    padding: 1em!important;
}
.p-2{
    padding: 2em!important;
}
.p-1-5{
    padding: 1.5em!important;
}
.p-0-7-5{
    padding: 0.75em!important;
}
.p-0-5{
    padding: 0.5em!important;
}
.p-3{
    padding: 3em!important;
}
.p-y-1{
    padding: 1em 0!important;
}
.p-y-2{
    padding: 2em 0!important;
}
.p-big{
    padding: 6.5em 0!important;
}

.p-x-1{
    padding: 0 1em!important;
}
.p-x-2{
    padding: 0 2em!important;
}

.m-1{
    margin: 1em!important;
}
.m-2{
    margin: 2em!important;
}
.m-3{
    margin: 3em!important;
}

.m-y-1{
    margin: 1em 0!important;
}
.m-y-2{
    margin: 2em 0!important;
}

.m-x-1{
    margin: 0 1em!important;
}
.m-x-2{
    margin: 0 2em!important;
}

.bb{
    border-bottom: solid 0.01em #F2F2F2;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: #333;
}

a:hover,
a:focus{
    background: #999;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: .1em;
}
.lr-heading{
    font-size: 2.6em;
    font-weight: lighter;
}
.l-heading{
    font-size: 2.8em;
    font-weight: lighter;
}
.n-heading{
    font-size: 2.2em;
    font-weight: lighter;
}
/****************************************
                Header
****************************************/ 
#navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F2F2F2;
    box-shadow: 0 0 10px 0 #333;
    z-index: 1;
    position: fixed;
    top: 0;
}

.header{
    font-size: 1.4em;
    letter-spacing: 0.18em;
}

/****************************************
                Home
****************************************/

#home{
    max-width: 120em;
}
.home-img{
    background-size: cover;
    position: relative;
    height: 752px;
}
.home-content{
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
}

/****************************************
                BODY
****************************************/

#container{
    max-width: 1050px;
    margin: 0 auto;
    
}
#about{
    display: flex;
    justify-content: space-between;
}
.about-img{
    background: #333 url('images/tablesetting2.jpg');
    background-size: cover;
    width: 60%;
    height: 600px;
    border-radius: 7px;
    opacity: 0.7;
}
.about-content{
    font-weight: lighter;
    width: 50%;
    letter-spacing: 1.2px;
}
.lead{
    font-size: 1.5em;
    letter-spacing: 5px;
}
.about-text{
    font-size: 1.3em;
    line-height: 1.4em;
}
.less-opac{
    opacity: 0.7;
}

/****************************************
                MENU
****************************************/

#menu{
    display: flex;
    justify-content: space-between;
}
.menu-img{
    opacity: 0.7;
}

.menu-text-wrapper{
    letter-spacing: 0.1em;
    line-height: 3em;
    
}

.menu-text{
    font-size: 1.1em;
    line-height: 4em;
    opacity: 0.8;
}

/****************************************
                Contact
****************************************/

.contact-text{
    font-size: 1.2em;
    line-height: 3em;
}

.new-color{
    font-size: 1.5em;
    display: block;
    color: skyblue;
}
input{
    padding: 2em;
    display: inline-block;
    width: 100%;
    height: 55px;
    border: none;
    border-bottom: solid 1px #AAA;
    font-size: 1.5em;
}
.btn{
    display: inline-block;
    font-size: 1.5em;
    background: #EEE;
}

/****************************************
                FOOTER
****************************************/

footer{
    background: #EEE;
}

@media(max-width:512px){
    #navbar{
        flex-direction: column;
        align-items: center;
        height:80px;
    }
    .home-img{
        height: 755px;
    }
    #about{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-img{
        width: 90%;
    }
    .about-content{
        width: 90%;
    }
    #menu{
        flex-direction: column;
        align-items: center;
        line-height: 2em;
    }
    .contact-text{
        line-height: 2em;
    }
}
@media(min-width:513px) and (max-width:1000px){
    .home-img{
        height: 755px;
    }
    #about{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-img{
        width: 90%;
    }
    .about-content{
        width: 90%;
    }
    #menu{
        flex-direction: column;
        align-items: center;
    }
    .menu-img{
        width: 90%;
        height: 700px;
    }
    .contact-text{
        line-height: 2em;
    }
}







